@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

body{
	background-color: hsl(212, 45%, 89%);
	font-family: 'Outfit', sans-serif;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.container{
	background-color: hsl(0, 0%, 100%);
	padding: 15px;
	border-radius: 15px;
	width: 300px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.img{
	display: inherit;
	border-radius: 15px;
	margin-bottom: 10px;
}

.img img{
	max-width: 100%;
	border-radius: 15px;
	}
	
.text {
	padding: 0 10px;
}

h4{
	color: hsl(218, 44%, 22%);
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 10px;
}

p{
	font-weight: 400;
	color: hsl(220, 15%, 55%);
	font-size: 15px;
	margin-bottom: 15px;
}

@media only screen and (max-width: 375px){
.container{
	margin: 20px;
}
h4{
	font-size: 15px;
}

p{
	font-size: 12px;
}



